<div class="col-lg-6">
    <h1>AppStore Review Notification for Slack</h1>
    <a href="https://slack.com/oauth/authorize?scope=incoming-webhook&client_id=3378709477.17420101015&state={{ .state }}" rel="nofollow">
        <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
             srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
    </a>
</div>
<div class="col-lg-12">
    &nbsp;
</div>
<div class="col-lg-12">
    <h4>What's this App?</h4>
    <p>This Slack application sends AppStore review notification to your Slack channel.</p>
    <p>You can receive reviews of any AppStore App. So, for example, you can check reviews of your competitors.</p>
    <p>This application checks periodically review feeds, and sends notification if there are new reviews.</p>
    <img src="/static/notification-example.png" class="img-responsive" alt="Responsive image">

    <h4>How to Use</h4>
    <ol>
    <li>Start settings by clicking "Add to Slack" button.</li>
    <li>You are redirect to Slack authorization page, choose your team and channel.</li>
    <li>
        You are back to this application, and configure which iOS app you want to receive notification.
    </li>
    </ol>
    <img src="/static/appstore-url.png" class="img-responsive" alt="Responsive image">
    <img src="/static/appdetail.png" class="img-responsive" alt="Responsive image">
</div>

