<div class="col-lg-6">
    <h1>Privacy Policy</h1>
</div>
<div class="col-lg-12">
    &nbsp;
</div>
<div class="col-lg-12">
    <p>
    Bell Apps sets forth this Privacy Policy (this "Policy") with regard to the treatment of user's information,
    including but not limited to personal information,
    during the performance of services (the "Services") provided by Bell Apps, as follows;</p>

    <h2>1 User's Information to be Collected and Method of Collection</h2>

    <p>For purposes of this Policy, "User's Information" means information that identifies users,
    history of actions on communication services and other information created or accumulated in relation to user's devices,
    which shall be collected by Bell Apps pursuant to this Policy.
    Depending on the method of collection, the User's Information that we may collect for a user to use the Services includes:</p>

    <p>(i) information provided by the user, including:</p>
    <pre>
    - Team Name;
    - Team Id;
    - Channel Name;
    - Incoming Webhook URL;
    - Access Token
    </pre>

    <p>(ii) information provided from services outside the Services to the extent that the user permits for use with the Services;</p>
    <p>
    Bell Apps may collect the following information from services outside the Services, including but not limited to social network services, to the extent the user permits for use with the Services at that time:
    </p>
    <pre>
    - ID used by the user for such outside services; and
    - other information that the user has authorized the other service provider to disclose through its privacy settings in such outside services;
    </pre>
    <p>(iii) information collected by Bell Apps for the use by the user of the Services</p>

    <p>Bell Apps may collect information upon access to or use of the Services, including:</p>
    <pre>
    - terminal information;
    - log information;
    - cookie and anonymous ID; and
    - location information.
    </pre>
    <h2>2 Purpose of Use</h2>

    <p>2.1 The User's Information may be used not only for provision of the Services as provided in Section 2-2,
    but for other purposes as provided in Section 2-3.</p>

    <p>2.2 Specific purposes of the User's Information for the provision of the Services shall include the following:</p>

    <p>(i) provision, maintenance, protection, and improvement of the Services, including but not limited to acceptance of registration for the Services, identification of individuals and computation of use fees;</p>

    <p>(ii) guidance of response to inquiries relating to the Services;</p>

    <p>(iii) addressing a violation of rules, regulations or policies relating to the Services(the "Rules");</p>

    <p>(iv) notice of any modification to the Rules; and</p>

    <p>(v) other purposes incidental to the foregoing.</p>

    <p>2.3 Purpose other than those specified in Section 2.2 above shall be as indicated below:</p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Purpose of Use</th>
            <th>Corresponding User's Information</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                (1) creating statistical data relating to the Services, in a form that cannot identify an individual;
            </td>
            <td>
                - device information<br/>
                - log information<br/>
                - Cookies and anonymous ID<br/>
                - location information
            </td>
        </tr>
        <tr>
            <td>
                (2) delivering or displaying advertisements of Bell Apps or third parties;And
            </td>
            <td>
                - device information<br/>
                - log information<br/>
                - Cookies and anonymous ID<br/>
                - location information
            </td>
        </tr>
        <tr>
            <td>
                (3) other marketing
            </td>
            <td>
                - e-mail address<br/>
                - other information input by users in the form specified by Bell Apps
            </td>
        </tr>
    </table>

    <h2>3 Method of Notice, Publication and Permission; Method of Discontinuance of the Use</h2>

    <p>3.1 The user's permission must be obtained before collecting the following User's Information;</p>

    <p>(i) terminal information; and</p>

    <p>(ii) location information</p>

    <p>3.2 If the user specifies a certain setting, the user is entitled to require Bell Apps to, and Bell Apps shall immediately, discontinue the use of any or all of the User's Information, in accordance with such rules as may be from time to time prescribed by Bell Apps. Depending on the item of the User's Information, if such collection or use is required for the Services, Bell Apps may not be able to discontinue such collection unless the user withdraws from the Services pursuant to the procedures as determined by Bell Apps.</p>

    <h2>4 Outside Transmissions; Provision to Third Parties; Information Collection Modules</h2>

    <p>In order to distribute targeted advertisements using the User's Information, the following information collection module is incorporated into the Services. Thus, Bell Apps provides the User's Information to the provider of such information collection module in accordance with the following:</p>

    <p>(i) Name of Information Collection Module:</p>
    <p>Google Analytics</p>

    <p>(ii) Provider of Information Collection Module:</p>
    <p>Google</p>

    <p>(iii) Items of User's Information to be Provided:</p>
    <pre>
    access time
    user agent
    referrer
    and so on
    </pre>

    <p>(iv) Means and the Methods of Provision</p>
    <p>loading JavaScript library</p>

    <h2>5 Provision of Personal Information to Third Parties</h2>

    <p>Unless required by the Personal Information Protection Act or other applicable laws and regulations,
        Bell Apps shall not provide to any third party personal information contained in the User's Information without
        the prior consent of the user, unless:</p>

    <p>(i) Bell Apps authorizes such third party to handle the personal information in whole or in part to the extent necessary to accomplish the purpose of the use;</p>

    <p>(ii) The personal information is provided through a business transfer by way of merger or other similar transactions;</p>

    <p>(iii) The personal information is provided to a provider of an information collection module persuant to Section 4 hereof;</p>

    <p>(iv) Bell Apps is required to cooperate with state or local governmental orgranizations or their agents to perform their duties or obligations pursuant to applicable laws and regulations, and such performance is likely to be precluded if the consent of the user must be obtained; and</p>

    <p>(v) In addition to the foregoing, Bell Apps is entitled to disclose information pursuant to the Personal Information Protection Act or other applicable laws and regulations.</p>

    <h2>6 Disclosure of Personal Information</h2>

    <p>Upon request from the user to disclose its personal information under the Personal Information Protection Act, Bell Apps shall, without delay,disclose to the user such information after confirming its identity (or notify it of the non-existence of such personal information), to the extent required to do so pursuant to the Personal Information Protection Act and other applicable laws and regulations. Please note that you must pay commission (1,000 yen per application) for disclose of personal information.</p>

    <h2>7 Correction and Suspension of Use of Personal Information</h2>

    <p>7.1 If Bell Apps is required by the user to (1) correct the content of personal information under
        the provision of the Personal Information Protection Act because such information is false,
        or (2) suspend use of personal information because such information is being handled beyond the scope of the pursuant
        of the use previously made public, or has been collected in a fraudulent or otherwise illicit manner,
        then Bell Apps shall, without delay, conduct an appropriate investigation after confirming the requesting party's identity,
        and based upon the results, correct the content or suspend the use of such personal information,
        and notify the party to that effect. The user shall also be notified of any determination, if applicable,
        not to correct or suspend the use of such information, together with the justification for such determination.</p>

    <p>7.2 In the event that Bell Apps is required by the user to delete its personal information and has determined
        that it is necessary to accept such request, Bell Apps shall delete such personal information confirming
        the requesting party's identity and shall notify the party to that effect.</p>

    <p>7.3 Should Bell Apps not be obligated to correct, or suspend use of, information pursuant to
        the Personal Information Protection Act and other applicable laws and regulations, the preceding paragraphs shall not apply.</p>

    <h2>8 Inquiries</h2>

    Any suggestions, questions, complaints, or other inquiries on the handling of the User's Information must be submitted to:

    Bell Apps.
    bell-support [at] snnm.net

    <h2>9 Procedure to Amend this Privacy Policy</h2>

    <p>Bell Apps shall from time to time review how the User's Information is being handled,
        and use its best efforts to continuously improve the operation,
        and make such modification to this Privacy Policy as may be necessary.
        Any modification to this Privacy Policy shall be notified to you by email; provided that for any
        modification requiring consent from the user pursuant to applicable laws and regulations,
        such consent from the user must be obtained subject to the procedures as separately established by Bell Apps.</p>
</div>

