<div class="col-lg-6">
    <h1>Help & Support</h1>
</div>
<div class="col-lg-12">
    &nbsp;
</div>
<div class="col-lg-12"><h4>Support Contact</h4>
    <p>If you want to contact to Bell Apps Team, email to bell-support@snnm.net</p>
    <p>Or mention to @yosukep on Twitter</p>
</div>
<div class="col-lg-12">
    <h4>FAQ</h4>
    <dl>
        <dt>Is this free?</dt>
        <dl>Yes this app is free at now, and you don't need to set any billing information.</dl>
    </dl>
    <dl>
        <dt>How can I set up?</dt>
        <dd>See <a href="/#howto">the setup guide</a></dd>
    </dl>
</div>


